$primary-color: #333;

$primary-background-color: #f7f7f7;
$secondary-background-color: #fcfcfc;
$background-color-light: #fff;

$primary-cta: #0579C9;
$primary-cta-hover: #025c7d;

$background-green: #d5eedd;
$background-pink: #f7d8dc;


